:root{
    --main-blue:#0071ce;
    --main-dark:#333333;
    --white:#ffffff;
    --off-white:#eeeeee;
    --accent:#f29c1f;
}

body{
    font-family: 'Roboto', sans-serif;
    color: var(--white);
    background-color: var(--off-white);
    font-size: 12px;
}

h1{
    font-size: 45px;
}

h2{
    font-size: 42px;
}

h3{
    font-size: 35px;
}

h4{
    font-size: 28px;
}

h5{
    font-size: 20px;
}

h6{
    font-size: 14px;
}

h1,h2,h3,h4,h5,h6{
    font-family: roc-grotesk, sans-serif;
}

a{
    text-decoration: none;
    color: var(--main-blue);
}

.container{
    padding: 0 50px;
}


