.subheading{
    font-weight: lighter;
    margin-top: 10px;
}

header{
    background: linear-gradient(
        rgba(0, 35, 63, 0.65), 
        rgba(0, 35, 63, 0.65)
      ), url('./images/kilian-seiler-PZLgTUAhxMM-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content-grid{
    margin: 40px 0;
    display: grid;
    justify-content: center;
    column-gap: 40px;
    row-gap: 20px;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 500px 400px;
}

.article-card{
    box-shadow: 7px 6px 11px -2px rgba(0,0,0,0.16);
}

.big-article{
    justify-self: end;
    grid-column: span 1;
    grid-row: span 2;
    background-color: var(--main-dark);
    color: var(--white);
    width: 500px;
}

.small-article{
    justify-self: start;
    grid-row: span 1;
    color: var(--main-dark);
    background-color: var(--white);
    width: 400px;
}

.tag{
    font-weight: lighter;
    margin-bottom: 8px;
}

.text{
    padding: 10px;
}

.text h5{
    margin-bottom: 10px;
}