nav{
    height: 50px;
    padding: 12px 35px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    width: 65px;
    height: 65px;
}

.nav-link{
    font-size: 18px;
}

.name{
    color: var(--main-blue);
    font-size: 25px;
    margin-left: 10px;
}